/* ========================= */
/* PAGE 1 */
/* ========================= */

.page1 {

    background-color: rgb(138, 139, 155);

    font-family: 'Franklin Gothic Medium',
                 'Arial Narrow',
                 Arial,
                 sans-serif;


                }



/* ========================= */
/* PAGE 2 */
/* ========================= */
.page2 {

    background-color: rgb(121, 113, 113);

    font-family: Arial, sans-serif;
}


/* ========================= */
/* PAGE 3 */
/* ========================= */

.page3 {

    background-color: rgb(59, 52, 52);

    font-family: Arial, sans-serif;
}

.page4 {

background-color: rgb(82, 71, 71);

}
/* ========================= */
/* MENU */
/* ========================= */

.menu {

    text-align: center;
}


.menu-droite ul {

    display: flex;

    justify-content: flex-end;

    list-style: none;
    text-align: center;
    padding: 0;
}


.menu-gauche ul {

    list-style: none;
    text-align: center;
    padding: 0;
}


li {

    list-style: none;
}


li a {

    font-size: xx-large;

    text-decoration: none;

    color: black;
}


/* ========================= */
/* CONTENEUR FLEX */
/* ========================= */

.conteneur {

    display: block;

    text-align: center;

    padding: 50px;
}


/* ========================= */
/* BLOCS */
/* ========================= */

.gauche,
.centre,
.droite {

    width: 100%;
}


/* ========================= */
/* TITRES */
/* ========================= */

h1 {

    color: black;

    text-align: center;

    text-decoration: underline;

    font-family: serif;

    font-size: 40px;
}


h2 {

    color: black;

    font-size: 70px;

    text-align: center;

    text-decoration: underline rgb(0, 0, 0);
}


h3 {

    color: black;

    text-align: center;

    text-decoration: underline black;
}


/* ========================= */
/* PARAGRAPHES */
/* ========================= */

p {

    font-size: 25px;

    color: black;

    text-align: center;

    line-height: 45px;
}


/* ========================= */
/* IMAGES */
/* ========================= */

img {

    display: block;

    margin: auto;

    width: 400px;

    border-radius: 20px;

    box-shadow: 0px 0px 20px gray;

    margin-top: 20px;
}


/* ========================= */
/* TRAIT */
/* ========================= */

.trait {

    width: 764px;

    border: 1px solid black;

    margin: auto;
}


/* ========================= */
/* PRESENTATION */
/* ========================= */

.presentation {

    background-color: rgb(109, 109, 121);

    width: 900px;

    margin: auto;

    margin-top: 40px;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0px 0px 20px black;

    text-align: center;
}



/* ========================= */
/* TEXTE DANS PRESENTATION */
/* ========================= */

.presentation h1 {

    color: white;

    text-shadow: 3px 3px 10px black;
}


.presentation p {

    color: white;
}


/* ========================= */
/* IMAGE DANS PRESENTATION */
/* ========================= */

.presentation img {

    width: 300px;

    border-radius: 15px;

    
}

p {
font-family:'Courier New', Courier, monospace

}

   button {

    margin: 10px;

    padding: 10px 20px;

    font-size: 20px;

    border-radius: 10px;
}

    .presentation-menu {

    text-align: center;
}

button {

    margin: 10px;

    padding: 10px 20px;

    font-size: 20px;

    border-radius: 10px;
}

body {

    border: 10px solid rgb(28, 189, 175);
    animation: rgb 5s infinite;
}
@keyframes rgb {

    0% {
        border-color: red;
    }

    25% {
        border-color: blue;
    }

    50% {
        border-color: lime;
    }

    75% {
        border-color: purple;
    }

    100% {
        border-color: red;
    }
}


button {

    margin: 10px;

    padding: 10px 20px;

    font-size: 20px;

    border-radius: 10px;
}


.presentation-menu {

    text-align: center;
}

.presentation-menu ul {

    display: flex;

    justify-content: center;

    gap: 20px;

    padding: 0;
}

h4 {


font-size: 65px;    
text-decoration: underline;
}

h3 {

animation: rgbTexte 3s infinite;


}

h2 {


animation: rgbTexte 3s infinite;


}


h1 {

animation: rgbTexte 3s infinite;

}



p  {

    animation: rgbTexte 3s infinite;
}

@keyframes rgbTexte {

    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: lime;
    }

    75% {
        color: purple;
    }

    100% {
        color: red;
    }
}